body {

    background-repeat: no-repeat;
    background-position: right top;
    background-color: #feffe7;
    text-align: left;
}

#menu-toggle{
    position: absolute;
    top:0;
    left:0;
    z-index: 2500;
    text-indent: 1em;
    display: block;
}

.alignCenter{
    text-align: center;
}

#numberOfGuests{
    width:4em;
}

#searchResultsInnerTable td{
    width:250px;
    padding-left:50px;
}
#searchResultsOuterTable td {
    vertical-align: top;

}


.listDishName{
    background-color: lightgrey;
}

.listDishName #t1{
    text-align: left;
}

.listDishName #t2{
    text-align: right;
}

#listDishes, #listTotalCost {
    color: darkred;
}

#listTotalCost > hr{
    width:70%;
    vertical-align: left;
}

hr{
    /*height:1px;
    background-color:black;*/
    border: 1px solid #aaa;
}
.hrBold{
    width:100%;
    border: 5px dotted #000;
}

#viewTitle {
    background:rgba(255,204,102,0.8);
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2000;
}
#viewTitleTitle{
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: 2000;
}
#viewTitleSlogan{
    text-align: center;
    font-style: italic;
    bottom: 15px;
    width: 100%;    
    z-index: 2000;
}
.view {
    margin-top: 65px;
}

#view1Text{

}

#view1Box{
    position: relative;
    margin-top: 300px;
    width: 50%;
    padding: 2%;
    text-align: left;
    background:rgba(255,255,255,0.5);
}

# Button1 {
    background-color: #f3ebb8;
    height: 200px;
    width: 400px;

    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}

.smallButton {
    background-color: #f3ebb8;
    border: none;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bigButton {
    background-color: #f3ebb8;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#ingredientsTable{
    background:rgba(255,204,102,0.8);
    margin: 20px;
    padding: 20px;
}

#view1 {
    display: block;
    /*background-color: #feffe7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    background-image: url('../images/familydinner.jpg');
    */
    text-align: center;
}

#view2 {
    display: none;
}

#view3 {
	display: none;
}

#view4 {
	display: none;
}

.dishImage {
    width:400;
}

#view5 {
	display: none;
}

#view6 {
	display: none;
}

