body {

    background-repeat: no-repeat;
    background-position: right top;
}

#view1 {
	display: block;
	background-color: #feffe7;
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0; 
}

#Button1 {
    background-color: #f3ebb8;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}

#view2 {
	display: none;
}

#view3 {
	display: none;
}

#view4 {
	display: none;
}

#view5 {
	display: none;
}

#view6 {
	display: none;
}

